body {
  margin: 40px auto;
  max-width: 720px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height:1.2;
}

.casual-updates-title {
  color: #dd0000;
}

.casual-updates {
  font-size: 16px;
  border: solid 3px #dd0000;
  padding: 20px 40px;
}

.show-more-casual- {
  font-size: 16px;
  border: solid 3px #dd0000;
  padding: 20px 40px;
}

.hidden-item {
  display: none;
}

#show-more-button {
  display: block;
  width: 100%;
  padding: 14px 28px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
